In [68]:
import pandas as pd

In [69]:
result1 = pd.read_csv('../sub/submission0.5786_0.942637.csv')
result2 = pd.read_csv('../sub/submission0.581574_0.945836.csv')
result3 = pd.read_csv('../sub/submission0.579797_0.945981.csv')
result4 = pd.read_csv('../sub/submission0.868118_0.985277.csv')

In [70]:
result1_sort = result1.sort_values('label',ascending=True).reset_index().reset_index()
result2_sort = result2.sort_values('label',ascending=True).reset_index().reset_index()
result3_sort = result3.sort_values('label',ascending=True).reset_index().reset_index()
result4_sort = result4.sort_values('label',ascending=True).reset_index().reset_index()

In [71]:
dfcombined = pd.merge(result1_sort,result2_sort,on='id')

In [74]:
dfcombined['label'] = dfcombined['label_x']+dfcombined['label_x']

In [75]:
dfcombined

,level_0_x,index_x,id,label_x,level_0_y,index_y,label_y,label
0,0,4281,test_4281,0.000009,7,4281,0.000011,0.000018
1,1,2375,test_2375,0.000010,9,2375,0.000011,0.000020
2,2,4485,test_4485,0.000010,1,4485,0.000009,0.000021
3,3,13140,test_13140,0.000014,13,13140,0.000012,0.000028
4,4,8998,test_8998,0.000014,8,8998,0.000011,0.000029
...,...,...,...,...,...,...,...,...
14995,14995,14770,test_14770,1.999958,14996,14770,1.999972,3.999915
14996,14996,573,test_573,1.999963,14994,573,1.999969,3.999926
14997,14997,4155,test_4155,1.999964,14997,4155,1.999975,3.999927
14998,14998,13232,test_13232,1.999971,14999,13232,1.999977,3.999942
14999,14999,14401,test_14401,1.999976,14998,14401,1.999976,3.999953

In [30]:
dfcombined[['id','label']].to_csv('../sub/submissioncmb_cmn.csv', index = False)

In [ ]:
import seaborn as sns
sns.lineplot(x='')